[data-theme="Dark"] {
  --color-Text: #FFFFFF;
  --color-Primary: #22DD66;
  --color-Secondary: #2266DD;
  --color-Ternary: #229999;
  --color-Primary-Back: #002211;
  --color-Secondary-Back: #001122;
  --color-Ternary-Back: #001111;
}