[data-theme="Light"] {
  --color-Text: #000000;
  --color-Primary: #33FF77;
  --color-Secondary: #3377FF;
  --color-Ternary: #33BBBB;
  --color-Primary-Back: #DDFFEE;
  --color-Secondary-Back: #DDEEFF;
  --color-Ternary-Back: #DDFFFF;
}
