body {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px */
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  color: var(--color-Text);
  background-color: var(--color-Primary-Back);
  height: 100%;
}